@import "node_modules/normalize.css/normalize";
@import "service/variables.scss";
@import "service/media-requeries.scss";
@import "service/fonts.scss";
@import "service/mixins.scss";
@import "service/global.scss";
// Blocks
@import "blocks/page.scss";
// Blocks header
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
// HEAD
@import "blocks/list.scss";
@import "blocks/item.scss";
// Blocks main
@import "blocks/page-main.scss";
@import "blocks/promo.scss";
@import "blocks/offers.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts-and-map";
//Blocks footer
@import "blocks/page__footer";
