@import "node_modules/normalize.css/normalize";
@import "service/variables.scss";
@import "service/media-requeries.scss";
@import "service/fonts.scss";
@import "service/mixins.scss";
@import "service/global.scss";
// Blocks
@import "blocks/page.scss";
// Blocks header
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/list.scss";
@import "blocks/item.scss";
